body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Arial, sans-serif;
}

main {
    flex: 1;
}

.analytics-section {
    background-color: #e9f8fb;
}

.chart-card {
    max-width: 650px;
}
